*, body {
    padding: 0;
    margin: 0;
	box-sizing: border-box;
    background-color: #FCB31B;
}

.container-outer{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

/* Buttons */

button{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
#zero{
    height: 50px;
    width: 104px;
}
.screen-display{
    height: 25px;
    padding-bottom: 30px;
}
.output{
    float: right;
    padding-right: 10px;
    font-size: 20px;
}