body {
    padding: 0;
    margin: 0;
	box-sizing: border-box;
    background: #FCB31B;
}

.container-outer{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.container-inner{
    border: #212121 solid 15px;
    padding: 5px;
    background-color: #212121;
    border-radius: 10px;
    box-shadow:5px 3px 3px #212121;
}

/* Buttons */

button{
    height: 65px;
    width: 65px;
    border-radius: 50px;
    background: #616161;
    margin-bottom: 5px;
    border: black;
    box-shadow: 5px #616161;
    color: white;
}

button:hover{
    transform: scale(1.05)
}
#zero{
    height: 65px;
    width: 134px;
}
.screen-display{
    height: 40px;
    padding-bottom: 30px;
    margin-bottom:20px;
    border: black solid 2px;
    background: #3b3b3b;
    border-radius: 15px;
    color:red;
}
.output{
    padding: 10px 10px;
    font-size: 25px;
    float: right;
}

